* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: rgba(59, 57, 59, 0.699);
}

.content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile {
    width: 21rem;
    height: 35rem;
    border-radius: 25px;
    background-image: url("/img/mountain.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 80px;
    .cityname {
        text-align: center;
        padding: 1rem;
        color: white;
    }
    .degree {
        text-align: center;
        font-size: 3rem;
        color: white;
    }
    .description {
        text-align: center;
        font-size: 1rem;
        color: white;
        padding: 1rem;
    }
    .icon {
        text-align: center;
        color: white;
    }
    .down {
        text-align: center;
        position: absolute;
        top: 83%;
        left: 50%;
        transform: translate(-50%, -50%);
        .search {
            margin: 1rem;
            input[type="search"] {
                padding: 1rem;
                width: 14rem;
                border: none;
                background-color: transparent;
                color: white;
                //border-bottom: 1px solid white;
                text-align: center;
                font-size: 1rem;
                &:focus {
                    //border: none;
                    border-bottom: 1px solid white;
                }
            }
        }
        .button {
            button {
                padding: 1rem;
                font-size: 1rem;
                //width: 5rem;
                border-radius: 100px;
                border: 1px solid white;
                cursor: pointer;
                background-color: transparent;
                color: white;
                transition: 1s;
                &:hover {
                    background-color: rgb(251, 250, 252);
                    color: rgb(3, 3, 3);
                }
            }
        }
    }
}